* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Sansation";
  src: url("/fonts/sansation/Sansation-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sansation";
  src: url("/fonts/sansation/Sansation-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.goldman-regular {
  font-family: var(--font-goldman), sans-serif;
  font-weight: 400;
  font-style: normal;
}
.goldman-bold {
  font-family: var(--font-goldman), sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lexend-deca-regular {
  font-family: var(--font-lexend-deca), sans-serif;
  font-weight: 400;
  font-style: normal;
}

.major-mono-display-regular {
  font-family: var(--font-major-mono-display), monospace;
  font-weight: 400;
  font-style: normal;
}

.zain-extralight {
  font-family: "Zain", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.zain-light {
  font-family: "Zain", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.zain-regular {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.zain-bold {
  font-family: "Zain", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.zain-extrabold {
  font-family: "Zain", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.zain-black {
  font-family: "Zain", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.zain-light-italic {
  font-family: "Zain", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.zain-regular-italic {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: italic;
}

/* styles/fonts.css */
.sansation-light {
  font-family: var(--font-sansation), sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sansation-regular {
  font-family: var(--font-sansation), sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sansation-bold {
  font-family: var(--font-sansation), sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sansation-light-italic {
  font-family: var(--font-sansation), sans-serif;
  font-weight: 300;
  font-style: italic;
}

.sansation-regular-italic {
  font-family: var(--font-sansation), sans-serif;
  font-weight: 400;
  font-style: italic;
}

.sansation-bold-italic {
  font-family: var(--font-sansation), sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* styles/fonts.css */

.sansation-light {
  font-family: var(--font-sansation), sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sansation-regular {
  font-family: var(--font-sansation), sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sansation-bold {
  font-family: var(--font-sansation), sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sansation-light-italic {
  font-family: var(--font-sansation), sans-serif;
  font-weight: 300;
  font-style: italic;
}

.sansation-regular-italic {
  font-family: var(--font-sansation), sans-serif;
  font-weight: 400;
  font-style: italic;
}

.sansation-bold-italic {
  font-family: var(--font-sansation), sans-serif;
  font-weight: 700;
  font-style: italic;
}

.turret-road-extralight {
  font-family: "Turret Road", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.turret-road-light {
  font-family: "Turret Road", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.turret-road-regular {
  font-family: "Turret Road", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.turret-road-medium {
  font-family: "Turret Road", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.turret-road-bold {
  font-family: "Turret Road", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.turret-road-extrabold {
  font-family: "Turret Road", sans-serif;
  font-weight: 800;
  font-style: normal;
}





/* Hide scrollbar for Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for IE */
body {
  -ms-overflow-style: none;
}
